<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>EnterPot</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script>
    window.basepath = "http://localhost:8080/";
    const urlParams = new URLSearchParams(window.location.search);
    const id = urlParams.get('id');
    var xmlhttp;
    if (window.XMLHttpRequest) {
      xmlhttp = new XMLHttpRequest();
    } else {
      // code for older browsers
      xmlhttp = new ActiveXObject();
    }
    xmlhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        // document.getElementById("demo").innerHTML =
        //   this.responseText;
        const jsonResponse = JSON.parse(this.responseText);
        window.itemId = jsonResponse.id
        console.log(jsonResponse.image);
        document.getElementById('imagePic').src = jsonResponse.image;
        document.getElementById('heading').innerText = jsonResponse.name;
        document.getElementById('price').innerText = "Rs"+jsonResponse.price;
        document.getElementById('des').innerText = jsonResponse.description;
        document.getElementById('imagePic').src = jsonResponse.image;
      }
    };
    xmlhttp.open("GET", window.basepath+"item/"+id, true);
    xmlhttp.send();


    function orderItem() {
      var url = window.basepath+'order/?customer=1&item='+window.itemId+'&quantity=1';
      var req = new XMLHttpRequest();
      req.overrideMimeType("application/json");
      req.open('POST', url, true);
      req.onreadystatechange  = function() {
        var res = JSON.parse(req.responseText);
        console.log(res);
        document.getElementById('orderSuccess').style.display = "block";
        // do something with jsonResponse
      };
      req.send();
      console.log("sddsdd");
    }
  </script>
</head>
<body ng-app="appComponent" ng-controller="appController" ng-init="initApp()" class="blue lighten-5">
<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">
      <i class="material-icons" id="logo-icon">
        loyalty
      </i>
      EnterPot
    </a>
    <ul class="right hide-on-med-and-down">
      <li ng-click="goToAccount()" ><a href="/myAccount">Account</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li ng-show="showLogin"><a href="/login">Login</a></li>
      <li ng-click="goToRegister()" ng-show="showLogin"><a href="/register">Register</a></li>
      <li ng-click="goToAccount()" ng-show="showProfile"><a href="/myAccount">Account</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div class="container">
  <br>
  <div class="row white">
    <div class="col l2 m2 s1"></div>
    <div class="col s10 l8 m8">
      <div class="row">
        <div class="col s12 m6 l6">
          <img class="responsive-img" style="margin-left: -100px;" id="imagePic">
        </div>
        <div class="col l6 m6 s12">
          <h4 id="heading"></h4>
          <ul class="collection">
            <li class="collection-item">Model: 1856893D386</li>
            <li class="collection-item">Items sold: 202 <i class="material-icons right">
              whatshot
            </i></li>
            <li class="collection-item">Status: Available<i class="material-icons right">
              done
            </i></li>
            <li class="collection-item" >Description: <span id="des"></span></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="input-field">
            <select>
              <option value="" disabled selected>Select Quantity</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="3">4</option>
              <option value="3">5</option>
            </select>
            <label>Quantity</label>
          </div>
        </div>
        <div class="col s12">
          <div class="row">
            <h5 class="col s6" id="price">Rs 175,000.00 x 1</h5>
            <div class="col s6 center-align"><button class="btn btn large waves-effect" onclick="orderItem()">Buy Now<i class="material-icons right">
              shopping_cart
            </i></button> </div>
          </div>
        </div>
        <div class="row" >
          <div class="col s12">
            <div class="card-panel green" style="display: none;" id="orderSuccess">
            <span class="white-text">Order placed successfully
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col l2 m2 s1"></div>
  </div>
</div>


<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full
          time job. Any amount would help support and continue development on this project and is greatly
          appreciated.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by Aanjalo
    </div>
  </div>
</footer>
<!--  Scripts-->
<script src="js/itemComponent.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
