<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>EnterPot</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script>
    window.basepath = "http://localhost:8080/";
  </script>
</head>
<body class="blue lighten-5">
<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">
      <i class="material-icons" id="logo-icon">
        loyalty
      </i>
      EnterPot
    </a>
    <!--<ul class="right hide-on-med-and-down">-->
      <!--<li ng-click="goToAccount()" ><a href="/myAccount">Account</a></li>-->
    <!--</ul>-->

    <!--<ul id="nav-mobile" class="sidenav">-->
      <!--<li ng-show="showLogin"><a href="/login">Login</a></li>-->
      <!--<li ng-click="goToRegister()" ng-show="showLogin"><a href="/register">Register</a></li>-->
      <!--<li ng-click="goToAccount()" ng-show="showProfile"><a href="/myAccount">Account</a></li>-->
    <!--</ul>-->
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
<script>
  window.basepath = "http://localhost:8080/";
  var xmlhttp;
  const urlParams = new URLSearchParams(window.location.search);
  const id = urlParams.get('id');
  if (window.XMLHttpRequest) {
    xmlhttp = new XMLHttpRequest();
  } else {
    // code for older browsers
    xmlhttp = new ActiveXObject();
  }
  xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      const jsonResponse = JSON.parse(this.responseText);
      document.getElementById('itmName').innerText = jsonResponse.name;
      console.log(jsonResponse);
    }
  };
  xmlhttp.open("GET", window.basepath+"order/item?order="+id, true);
  xmlhttp.send();

  var res;
  var url = window.basepath+'order/get?order='+id;
  var req = new XMLHttpRequest();
  req.overrideMimeType("application/json");
  req.open('GET', url, true);
  req.onreadystatechange  = function() {
    res = JSON.parse(req.responseText);
    document.getElementById('shipdate').innerText=res.orderedDate;
    document.getElementById('shipStatus').innerText=res.status;
    document.getElementById('total').innerText=res.total;
    document.getElementById('coun').innerText=res.country;
    console.log(res);
    window.country = res.country;
    initMap();
    // do something with jsonResponse
  };
  req.send();

  var map;

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: res.lat, lng: res.lng},
      zoom: 10
    });
  }

</script>
<div class="container" style="min-height: 600px;">
  <br>
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="col s12 ">
          <div class="card light-blue darken-3">
            <div class="card-content white-text">
              <span class="card-title" id="itmName"></span>
              <div>Shipped Date: <span id="shipdate"></span></div>
              <div>Status: <span id="shipStatus"></span></div>
              <div>Price: Rs. <span id="total"></span></div>
            </div>
            <div class="card-action">
              <a href="#modal1" class="white-text modal-trigger"><i class="material-icons left">
                location_on
              </i>See location</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Location</h4>
    <div id="map" style="height: 300px;width: 100%;"></div>
    <div>Your package is currently in <span id="coun"></span></div>
  </div>

  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Okay</a>
  </div>
</div>

<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full
          time job. Any amount would help support and continue development on this project and is greatly
          appreciated.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by Aanjalo
    </div>
  </div>
</footer>
<!--  Scripts-->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFcskF70l_CDq0_DMYczATK-Jz8K49Abk" async defer></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
