<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>EnterPot</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script>
    window.basepath = "http://localhost:8080/";
  </script>
</head>
<body ng-app="appComponent" ng-controller="appController" ng-init="initApp()" class="blue lighten-5">
<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">
      <i class="material-icons" id="logo-icon">
        loyalty
      </i>
      EnterPot
    </a>
    <!--<ul class="right hide-on-med-and-down">-->
      <!--<li ng-show="showLogin"><a href="/login">Login</a></li>-->
      <!--<li ng-click="goToRegister()" ng-show="showLogin"><a href="/register">Register</a></li>-->
      <!--<li ng-click="goToAccount()" ng-show="showProfile"><a href="/myAccount">Account</a></li>-->
    <!--</ul>-->

    <ul id="nav-mobile" class="sidenav">
      <li ng-show="showLogin"><a href="/login">Login</a></li>
      <li ng-click="goToRegister()" ng-show="showLogin"><a href="/register">Register</a></li>
      <li ng-click="goToAccount()" ng-show="showProfile"><a href="/myAccount">Account</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div class="container">
  <br>
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12 l6 m6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s12 l6 m6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 l6 m6">
          <input id="email" type="email" class="validate">
          <label for="email">e-mail</label>
        </div>
        <div class="input-field col s12 l6 m6">
          <input type="text" class="datepicker" placeholder="Birthday">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 l6 m6">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s12 l6 m6">
          <input id="repassword" type="password" class="validate">
          <label for="repassword">Re-enter password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 l6 m6">
          <input id="card_number" type="tel" class="validate">
          <label for="card_number">Card number</label>
        </div>
        <div class="input-field col s12 l6 m6">
          <input id="Expiry_date" type="text" class="validate">
          <label for="Expiry_date">Expiry Date</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 l6 m6">
          <input id="addLine1" type="text" class="validate">
          <label for="addLine1">Address line one</label>
        </div>
        <div class="input-field col s12 l6 m6">
          <input id="addLine2" type="text" class="validate">
          <label for="addLine2">Address line two</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 l6 m6">
          <input id="addLine3" type="tel" class="validate">
          <label for="addLine3">Address line three</label>
        </div>
        <div class="input-field col s12 l6 m6">
          <input id="city" type="text" class="validate">
          <label for="Expiry_date">city</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 l6 m6">
          <input id="PostalCode" type="text" class="validate">
          <label for="PostalCode">Postal Code</label>
        </div>
        <div class="input-field col s12 l6 m6">
          <button class="btn btn-large">Register<i class="material-icons right">send</i></button>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="page-footer teal" ng-show="items">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full
          time job. Any amount would help support and continue development on this project and is greatly
          appreciated.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by Aanjalo
    </div>
  </div>
</footer>
<!--  Scripts-->
<script src="js/regsiterComponent.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
